*
{
  box-sizing: border-box !important;
}

:root
{
  --text-outline-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  --panel-layer-1-color: #5d544f;
  --panel-layer-2-color: #e7e7df;
  --nav-link-dark-color: #252220;
}

html,
body
{
  min-height: 100%;
}

body
{
  position: relative;
  min-height: 100vh;
  background-color: rgb(196, 163, 121);
  background-image: url('../../../public/background.jpg');
  background-size: cover;
  .webp &
  {
    background-color: rgb(11, 67, 104);
    background-image: url('../../../public/background.webp');
  }
}


a
{
  text-decoration: none !important;
}

p
{
  margin: 0 !important;
}
