.xp
{
  background-image: url('../../../public/XP.png');
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 50px;
  max-width: 50px;
  .webp &
  {
    background-image: url('../../../public/XP.webp');
  }
}
