.member-extra-info-row
{
  background-color: #4a4b77;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  & > div
  {
    margin-left: .5rem;
    &:first-child
    {
      margin-left: 0;
    }
  }  
  @media screen and (max-width: 525px)
  {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 300px)
  {
    grid-template-columns: 1fr;
  }
}
